In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score
import pickle

In [42]:
df = pd.read_csv("Dataset/Chronic_Kidney_Dsease_data.csv")

In [43]:
df

,Age,Gender,Ethnicity,SocioeconomicStatus,EducationLevel,BMI,Smoking,AlcoholConsumption,PhysicalActivity,DietQuality,...,Itching,QualityOfLifeScore,HeavyMetalsExposure,OccupationalExposureChemicals,WaterQuality,MedicalCheckupsFrequency,MedicationAdherence,HealthLiteracy,Diagnosis,DoctorInCharge
0,71,0,0,0,2,31.069414,1,5.128112,1.676220,0.240386,...,7.556302,76.076800,0,0,1,1.018824,4.966808,9.871449,1,Confidential
1,34,0,0,1,3,29.692119,1,18.609552,8.377574,6.503233,...,6.836766,40.128498,0,0,0,3.923538,8.189275,7.161765,1,Confidential
2,80,1,1,0,1,37.394822,1,11.882429,9.607401,2.104828,...,2.144722,92.872842,0,1,1,1.429906,7.624028,7.354632,1,Confidential
3,40,0,2,0,1,31.329680,0,16.020165,0.408871,6.964422,...,7.077188,90.080321,0,0,0,3.226416,3.282688,6.629587,1,Confidential
4,43,0,1,1,2,23.726311,0,7.944146,0.780319,3.097796,...,3.553118,5.258372,0,0,1,0.285466,3.849498,1.437385,1,Confidential
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1654,90,0,0,1,2,39.677059,1,1.370151,4.157954,8.602873,...,2.138976,81.102765,0,0,0,0.951836,9.547583,2.046212,0,Confidential
1655,34,0,0,2,1,28.922015,0,3.372073,9.647525,9.836919,...,7.911566,10.600428,0,1,0,3.604147,1.609847,0.324417,0,Confidential
1656,84,0,0,2,3,21.951219,0,15.825955,7.349964,5.038194,...,0.015531,69.633427,0,0,0,0.801955,5.768617,4.935108,0,Confidential
1657,90,0,0,2,2,24.964149,0,12.967462,0.618614,4.557577,...,3.432765,31.858023,0,0,0,0.560298,2.744519,0.322592,1,Confidential
1658,34,1,1,0,0,19.253258,1,11.396510,7.446314,0.757396,...,9.293499,82.314878,0,0,0,1.754852,0.186400,4.553608,1,Confidential

In [31]:
selected_features = [
    "Age",                       # demographic
    "SystolicBP",                # blood pressure
    "DiastolicBP",               # blood pressure
    "BMI",                       # body mass index
    "FamilyHistoryKidneyDisease",# medical history
    "Smoking",                   # lifestyle
    "FastingBloodSugar",         # cheap diabetes indicator
    "ProteinInUrine",            # urine dipstick test
    "MedicalCheckupsFrequency",   # preventive care indicator
    "Diagnosis"
    
]

# Extract subset
df = df[selected_features]

In [32]:
# Round to whole numbers (integers)
df["MedicalCheckupsFrequency"] = df["MedicalCheckupsFrequency"].round(0).astype(int)

# OR round to 2 decimal places
df["MedicalCheckupsFrequency"] = df["MedicalCheckupsFrequency"].round(2)

print(df["MedicalCheckupsFrequency"].head())

0    1
1    4
2    1
3    3
4    0
Name: MedicalCheckupsFrequency, dtype: int32

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1659 entries, 0 to 1658
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         1659 non-null   int64
 1   SystolicBP                  1659 non-null   int64
 2   DiastolicBP                 1659 non-null   int64
 3   BMI                         1659 non-null   float64
 4   FamilyHistoryKidneyDisease  1659 non-null   int64
 5   Smoking                     1659 non-null   int64
 6   FastingBloodSugar           1659 non-null   float64
 7   ProteinInUrine              1659 non-null   float64
 8   MedicalCheckupsFrequency    1659 non-null   int32
 9   Diagnosis                   1659 non-null   int64
dtypes: float64(3), int32(1), int64(6)
memory usage: 123.3 KB

In [39]:
df.head()

,Age,SystolicBP,DiastolicBP,BMI,FamilyHistoryKidneyDisease,Smoking,FastingBloodSugar,ProteinInUrine,MedicalCheckupsFrequency,Diagnosis
0,71,113,83,31.069414,0,1,72.510788,0.744980,1,1
1,34,120,67,29.692119,1,1,100.848875,3.052317,4,1
2,80,147,106,37.394822,0,1,160.989441,1.157839,1,1
3,40,117,65,31.329680,0,0,188.506620,3.745871,3,1
4,43,98,66,23.726311,0,0,82.156699,2.570993,0,1

In [33]:
X = df.drop("Diagnosis", axis=1)
y = df["Diagnosis"]

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=42)

In [35]:
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [36]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        43
           1       0.91      1.00      0.95       455

    accuracy                           0.91       498
   macro avg       0.46      0.50      0.48       498
weighted avg       0.83      0.91      0.87       498

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [37]:
print(accuracy_score(y_test, y_pred))

0.9136546184738956

In [38]:
pickle.dump(model, open("Kdiney.pkl", 'wb'))

In [44]:
pip install reportlab

Defaulting to user installation because normal site-packages is not writeable
Collecting reportlab
  Downloading reportlab-4.4.3-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: pillow>=9.0.0 in c:\programdata\anaconda3\lib\site-packages (from reportlab) (10.4.0)
Requirement already satisfied: charset-normalizer in c:\programdata\anaconda3\lib\site-packages (from reportlab) (3.3.2)
Downloading reportlab-4.4.3-py3-none-any.whl (2.0 MB)Note: you may need to restart the kernel to use updated packages.

   ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
   ----- ---------------------------------- 0.3/2.0 MB ? eta -:--:--
   ---------- ----------------------------- 0.5/2.0 MB 1.0 MB/s eta 0:00:02
   ---------- ----------------------------- 0.5/2.0 MB 1.0 MB/s eta 0:00:02
   ---------- ----------------------------- 0.5/2.0 MB 1.0 MB/s eta 0:00:02
   ---------------- ----------------------- 0.8/2.0 MB 658.7 kB/s eta 0:00:02
   ---------------- ----------------------- 0.8/2.0 MB 658.7 kB/s eta 0:00:02
   --------------------- ------------------ 1.0/2.0 MB 689.9 kB/s eta 0:00:02
   --------------------- ------------------ 1.0/2.0 MB 689.9 kB/s eta 0:00:02
   -------------------------- ------------- 1.3/2.0 MB 604.7 kB/s eta 0:00:02
   -------------------------- ------------- 1.3/2.0 MB 604.7 kB/s eta 0:00:02
   -------------------------- ------------- 1.3/2.0 MB 604.7 kB/s eta 0:00:02
   -------------------------------- ------- 1.6/2.0 MB 570.9 kB/s eta 0:00:01
   -------------------------------- ------- 1.6/2.0 MB 570.9 kB/s eta 0:00:01
   ------------------------------------- -- 1.8/2.0 MB 556.2 kB/s eta 0:00:01
   ------------------------------------- -- 1.8/2.0 MB 556.2 kB/s eta 0:00:01
   ---------------------------------------- 2.0/2.0 MB 541.4 kB/s eta 0:00:00
Installing collected packages: reportlab
Successfully installed reportlab-4.4.3